/* this file is the style file for subscription */


/* general */
ul,
li,
a {
    text-decoration: none;
    padding: 0;
    margin: 0;

}

h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* layout */
body {
    background:#f5f5f7;
    font-family: 'Roboto', sans-serif;
}

#bLine {
    margin : 0;
    background: #024d62; 
    height : 10px;
    top: 400px;
    left: -1%;
    position: absolute;
    display: block;
    width :110%;
}



/* content */
#content {
    margin: auto;
    position: relative;
    width: 1020px;
}

#nav {
    position: absolute;
    left: 30px;
    height: 311px;
    width: 117px;
}
#nav ul {
    margin-top: 100px;
}

#title_words {
    position: absolute;
    left:207px;
    top:84px;
}

#sub_form {
    position: absolute;
    left:440px;
    top:556px;
}

#sub_form #sBt,
#sub_form #emailText {
    display : inline;
}

#sub_form #emailText input {
    line-height:14px;
    height:45px;
    margin:0px;
    border:0 none;
    font-size:14px;
    width:220px;
    background: #6d95a1;
    width:300px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ffffff;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ffffff;
    text-align:right;
}

#sub_form #sBt input {
    margin-top:20px;
    background:none;
    text-decoration:none;
    border: 12px solid #024d61;
    height:69px;
    width:69px;
    cursor:pointer;
}


