$bg_color: #f5f5f5;
$container_color: #c2cfd2;
$main_color: #024d61;


::-webkit-input-placeholder {
  color: $bg_color;
}

html {
  margin: 0;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue;
    background: $bg_color;
    height: 100%;

    #wrapper {
      height: 100%;

      .section {
        height: 100%;
        overflow: hidden;

        .content {
          width: 800px;
          margin: 0 auto;

          .title {
            font-family: Play;
            font-size: 60px;
            color: $main_color;
          }

          .sub-title {
            margin-left: 160px;
            font-family: Play;
            font-size: 30px;
            color: #70939d;
          }

          .text {
            margin-top: 30px;
            margin-left: 50px;
            color: $main_color;
            font-size: 20px;
          }
        }
      }

      #section-1 {
        background: $container_color;

        .content {
          position: relative;
          top: 50%;
          height: 460px;
          margin-top: -230px;

          .left {
            float: left;
            width: 500px;
          }

          .right {
            float: right;
            position: relative;
            top: -70px;
          }
        }

        .dots {
          position: absolute;
          left: 50%;
          margin-left: -10px;
          bottom: 60px;
          text-align: center;
          width: 20px;
          
          .dot {
            margin-top: 10px;
            width: 20px;
            height: 20px;
            background: $main_color;
            -webkit-border-radius: 10px;
          }
        }

      }

      #section-2 {
        background: url('img/bg2.jpg') fixed;
        background-size: cover;

        .content {
          position: relative;
          top: 50%;
          margin-top: -140px;
          width: 800px;
          height: 280px;
        }
      }

      #section-3 {
        background: $main_color;

        .content {
          position: relative;
          top: 50%;
          margin-top: -270px;
          width: 800px;
          height: 540px;

          .title {
            color: $bg_color;
          }
          
          .sub-title {
            width: 600px;
          }

          .text {
            color: $bg_color;
          }

          .canvas {
            margin: 0 auto;
            margin-top: 30px;
            width: 500px;
            height: 300px;

            .sq {
              position: absolute;
              width: 21px;
              height: 17px;
              background: $bg_color;
              opacity: 0.3;
            }

            #sq-1 {
              margin-left: 240px;
              margin-top: 100px;
            }

            #sq-2 {
              margin-left: 220px;
              margin-top: 80px;
            }

            #sq-3 {
              margin-left: 200px;
              margin-top: 60px;
            }

            #sq-4 {
              margin-left: 175px;
              margin-top: 80px;
            }

            #sq-5 {
              margin-left: 150px;
              margin-top: 100px;
            }

            #sq-6 {
              margin-left: 155px;
              margin-top: 120px;
            }

            #sq-7 {
              margin-left: 165px;
              margin-top: 140px;
            }

            #sq-8 {
              margin-left: 180px;
              margin-top: 160px;
            }

            #sq-9 {
              margin-left: 200px;
              margin-top: 180px;
            }

            #sq-10 {
              margin-left: 220px;
              margin-top: 200px;
            }

            #sq-11 {
              margin-left: 240px;
              margin-top: 220px;
            }

            #sq-12 {
              margin-left: 260px;
              margin-top: 200px;
            }

            #sq-13 {
              margin-left: 280px;
              margin-top: 180px;
            }

            #sq-14 {
              margin-left: 300px;
              margin-top: 160px;
            }

            #sq-15 {
              margin-left: 315px;
              margin-top: 140px;
            }

            #sq-16 {
              margin-left: 325px;
              margin-top: 120px;
            }

            #sq-17 {
              margin-left: 330px;
              margin-top: 100px;
            }

            #sq-18 {
              margin-left: 305px;
              margin-top: 80px;
            }

            #sq-19 {
              margin-left: 280px;
              margin-top: 60px;
            }

            #sq-20 {
              margin-left: 260px;
              margin-top: 80px;
            }
          }
        }
      }

      #section-4 {

        .bg-container {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;

          .bg-list {
            position: absolute;
            width: 200%;
            height: 100%;

            .bg {
              width: 50%;
              height: 100%;
            }

            #bg-1 {
              float: left;
              background: url('img/bg4.jpg') fixed;
              background-size: cover;
            }

            #bg-2 {
              float: right;
              background: url('img/bg3.jpg') fixed;
              background-size: cover;
            }
          }
        }

        .content {
          position: relative;
          top: 50%;
          margin-top: -130px;
          width: 800px;
          height: 260px;

          .title {
            color: $bg_color;
          }
          
          .sub-title {
          }

          .text {
            color: $bg_color;
          }
        }
      }

      #section-5 {
        background: $bg_color;

        .content {
          width: 100%;

          .horizontal-bar {
            position: absolute;
            margin-top: 330px;
            width: 100%;
            height: 10px;
            background: $main_color;
          }

          .button-box {
            position: absolute;
            left: 30px;
            margin-top: 189px;
            height: 200px;
            width: 100px;

            .bubble {

              .box {
                padding: 15px;
                -webkit-border-radius: 6px;
                background: $main_color;

                .item {
                  margin-top: 15px;
                  text-align: center;
                  color: $bg_color;
                  cursor: pointer;
                }

                .item:first-child {
                  margin-top: 0px;
                }
              }

              .caret {
                position: relative;
                top: -60px;
                left: 20px;
                float: right;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-left: 20px solid $main_color;
                border-bottom: 20px solid transparent;
              }
            }

            .link {
              position: relative;
              left: 45px;
              width: 10px;
              height: 60px;
              background: $main_color;
            }

            .radio-container {
              .radio {
                background: url('img/radio.png') no-repeat;
                position: relative;
                top: -29px;
                left: 13px;
                width: 72px;
                height: 72px;
                z-index: 1;
              }

              .mask {
                position: relative;
                top: -75px;
                left: 15px;
                width: 57px;
                height: 15px;
                background: $bg_color;
              }
            }
          }

          .inner {
            position: relative;
            margin: 0 auto;
            top: 60px;
            width: 817px;
            height: 516px;

            .bg-img {
              position: absolute;
              width: inherit;
              height: inherit;
              background: url('img/subscribe.png') no-repeat;
            }

            .intro {
              position: absolute;
              margin-top: 440px;
              margin-left: -60px;
              width: 400px;
              font-family: Play;
              color: $main_color;

              .brand-new {
                font-size: 18px;
              }

              .coming {
                margin-top: 10px;
                margin-left: 50px;
                font-size: 40px;
              }
            }

            .input-container {
              position: absolute;
              margin-top: 400px;
              margin-left: 310px;
              display: table-cell;

              input {
                float: left;
                width: 250px;
                color: $bg_color;
                font-size: 16px;
                padding: 12px 20px;
                background: rgba(107, 149, 161, 0.8);
                text-align: right;
                outline: none;
                border: none;
              }

              .go {
                position: relative;
                left: 14px;
                float: right;
                padding: 7px;
                background: $main_color;

                .button {
                  padding: 7px;
                  padding-top: 10px;
                  padding-bottom: 4px;
                  color: $main_color;
                  background: $bg_color;
                  cursor: pointer;
                  -webkit-transition: color 0.3s;

                  &:hover {
                    color: #ffa500;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
