.title {
  font-family: Play;
  font-size: 60px;
  color: #024d61; }

.sub-title {
  margin-left: 160px;
  font-family: Play;
  font-size: 30px;
  color: #70939d; }

.text {
  margin-top: 30px;
  margin-left: 50px;
  color: #024d61;
  font-size: 20px; }

::-webkit-input-placeholder {
  color: whitesmoke; }

html {
  margin: 0;
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue;
    background: whitesmoke;
    height: 100%; }
    html body #wrapper {
      height: 100%; }
      html body #wrapper .section {
        height: 100%;
        overflow: hidden; }
        html body #wrapper .section .content {
          width: 800px;
          margin: 0 auto; }
          html body #wrapper .section .content .left {
            float: left;
            margin-top: 100px;
            width: 500px; }
            html body #wrapper .section .content .left .title {
              font-family: Play;
              font-size: 60px;
              color: #024d61; }
            html body #wrapper .section .content .left .sub-title {
              margin-left: 160px;
              font-family: Play;
              font-size: 30px;
              color: #70939d; }
            html body #wrapper .section .content .left .text {
              margin-top: 30px;
              margin-left: 50px;
              color: #024d61;
              font-size: 20px; }
          html body #wrapper .section .content .right {
            float: right;
            position: relative;
            top: -50px; }
      html body #wrapper #section-1 {
        background: #c2cfd2; }
        html body #wrapper #section-1 .dots {
          text-align: center;
          width: 20px;
          margin: 0 auto;
          margin-top: 580px; }
          html body #wrapper #section-1 .dots .dot {
            margin-top: 10px;
            width: 20px;
            height: 20px;
            background: #024d61;
            -webkit-border-radius: 10px; }
      html body #wrapper #section-2 {
        background: url("img/bg2.jpg") fixed;
        background-size: cover; }
        html body #wrapper #section-2 .content {
          position: relative;
          top: 200px;
          width: 800px;
          height: 400px; }
      html body #wrapper #section-3 {
        background: #024d61; }
        html body #wrapper #section-3 .content {
          position: relative;
          top: 200px;
          width: 800px;
          height: 400px; }
          html body #wrapper #section-3 .content .title {
            color: whitesmoke; }
          html body #wrapper #section-3 .content .text {
            color: whitesmoke; }
      html body #wrapper #section-4 {
        background: url("img/bg3.jpg") fixed;
        background-size: cover; }
        html body #wrapper #section-4 .content {
          position: relative;
          top: 200px;
          width: 800px;
          height: 400px; }
          html body #wrapper #section-4 .content .title {
            color: whitesmoke; }
          html body #wrapper #section-4 .content .text {
            color: whitesmoke; }
      html body #wrapper #section-5 {
        background: whitesmoke; }
        html body #wrapper #section-5 .content {
          width: 100%; }
          html body #wrapper #section-5 .content .bg-img {
            position: absolute;
            margin-left: 250px;
            margin-top: 60px;
            width: 817px;
            height: 516px;
            background: url("img/subscribe.png") no-repeat; }
          html body #wrapper #section-5 .content .horizontal-bar {
            position: absolute;
            margin-top: 330px;
            width: 100%;
            height: 10px;
            background: #024d61; }
          html body #wrapper #section-5 .content .button-box {
            position: absolute;
            left: 30px;
            margin-top: 189px;
            height: 200px;
            width: 100px; }
            html body #wrapper #section-5 .content .button-box .bubble .box {
              padding: 15px;
              -webkit-border-radius: 6px;
              background: #024d61; }
              html body #wrapper #section-5 .content .button-box .bubble .box .item {
                margin-top: 15px;
                text-align: center;
                color: whitesmoke;
                cursor: pointer; }
              html body #wrapper #section-5 .content .button-box .bubble .box .item:first-child {
                margin-top: 0px; }
            html body #wrapper #section-5 .content .button-box .bubble .caret {
              position: relative;
              top: -60px;
              left: 20px;
              float: right;
              width: 0;
              height: 0;
              border-top: 20px solid transparent;
              border-left: 20px solid #024d61;
              border-bottom: 20px solid transparent; }
            html body #wrapper #section-5 .content .button-box .link {
              position: relative;
              left: 45px;
              width: 10px;
              height: 60px;
              background: #024d61; }
            html body #wrapper #section-5 .content .button-box .radio-container .radio {
              background: url("img/radio.png") no-repeat;
              position: relative;
              top: -29px;
              left: 13px;
              width: 72px;
              height: 72px;
              z-index: 1; }
            html body #wrapper #section-5 .content .button-box .radio-container .mask {
              position: relative;
              top: -73px;
              left: 15px;
              width: 57px;
              height: 12px;
              background: whitesmoke; }
          html body #wrapper #section-5 .content .intro {
            position: absolute;
            margin-top: 500px;
            margin-left: 180px;
            width: 400px;
            font-family: Play;
            color: #024d61; }
            html body #wrapper #section-5 .content .intro .brand-new {
              font-size: 18px; }
            html body #wrapper #section-5 .content .intro .coming {
              margin-top: 10px;
              margin-left: 50px;
              font-size: 40px; }
          html body #wrapper #section-5 .content .input-container {
            position: absolute;
            margin-top: 450px;
            margin-left: 560px;
            display: table-cell; }
            html body #wrapper #section-5 .content .input-container input {
              float: left;
              width: 250px;
              color: whitesmoke;
              font-size: 16px;
              padding: 12px 20px;
              background: rgba(107, 149, 161, 0.8);
              text-align: right;
              outline: none;
              border: none; }
            html body #wrapper #section-5 .content .input-container .go {
              position: relative;
              left: 14px;
              float: right;
              padding: 7px;
              background: #024d61; }
              html body #wrapper #section-5 .content .input-container .go .button {
                padding: 7px;
                color: #024d61;
                background: whitesmoke;
                cursor: pointer;
                -webkit-transition: color 0.3s; }
                html body #wrapper #section-5 .content .input-container .go .button:hover {
                  color: #ffa500; }
