/*
general
*/
p,a,h1,h2,h3,h4,h5{
    padding:0;
    margin:0;
}
pre ol, pre ul{
	font-size: 12px;
	line-height: 17px;
}
ul, ol, dl{
	font-size: 14px;
	line:height: 22px;
	color:#024d61;
}
mark{
	background-color:#e7e7e7;
	border-radius: 3px;
	padding: 0px 2px 0px 2px;
	color:#024d61;
}
blockquote{
	width: 80%;
	margin:20px auto 30px auto;
	font-family: 'Oxygen', sans-serif;
	font-size:14px;
	font-weight:400;
	background-image:url(../img/quotebg.png);
	background-repeat:no-repeat;
	color:#0985ad;
	padding-left: 28px;
	padding-top: 14px
}

/* layout */

body {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}
#header_wrap {
    height: 89px;
    background: #024d61 url(img/header.png) center no-repeat;
}
#header_wrap a{
    text-decoration:none;
}
#header_wrap a:hover {
    text-decoration:underline;
}
#header {
    height: 89px;
    width: 920px;
    margin: 0 auto;
    position: relative;
}

#we_wrapper {
    margin-top: 28px;
    height: 288px;
    background: #c2cfd2;
}

#peoples {
    width: 740px;
    margin:0px auto;
    position: relative;
}

/*
header
*/

h1#site_title {
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    position: absolute;
    color: #FFF;
    font-weight: normal;
    left: 0;
    bottom: 16px;
    padding: 0;
    margin: 0;
}

p#header_nav {
    height: 14px;
    line-height: 22px;
    font-size: 15px;
    position: absolute;
    color: #FFF;
    font-weight: normal;
    bottom: 16px;
    right: 50px;
    padding: 0;
    margin: 0;
}

#header_nav a {
    color:#FFF;
    padding-left:10px;
    padding-right:10px;
}

/* we */

#we {
    padding-top:35px;
    margin:0px auto;
    width: 870px;
    height: 230px;
}

#we h3 {
    color: #0f5669;
}
#we #intro{
    margin:30px;
    width: 480px;
    float:left;
}
#we #intro .vline{
    height: 130px;
    background: #0f5669;
    width: 2px;
    float: left;
    margin-right:20px;
}
#we #intro p{
    font-size: 14px;
}
#we img {
}


/* peoples */
#peoples #pvline {
    position: absolute;
    left: 247px;
    width: 2px;
    margin-top: -30px;
    height: 1500px;
    background: #c2cfd2;
}

#peoples .person {
    position: relative;
    padding-top:30px;
    margin-bottom:30px;
    height: 230px;
}

#peoples .person img.nameCN { 
    position:absolute;
    bottom:5px;
    left:-20px;
}
#peoples .person img.profile {
    position: absolute;
    left: 20px;
}

#peoples .person div.info {
    padding-top: 1px;
    margin-left: 249px;
}
#peoples .person .dy {
    margin-top:30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#peoples .person .dy ul.social {
    margin:0px;
    float: right;
    list-style:none;
}
#peoples .person .dy ul.social li {
    padding-left: 15px;
    padding-right: 15px;
    display: none;
}
#peoples .person .dy:hover {
    background: #c2cfd2;
}
#peoples .person .dy:hover ul.social li {
    display: inline;
}
#peoples .person .dy .social li.Google {
    background: url(img/google_team.png) no-repeat;
}
#peoples .person .dy .follow {
    float:right;
    font-size: 12px;
    margin-top: 3px;
    margin-right: 10px;
    display: none;
    color:#336f7f;
}
#peoples .person .dy:hover .follow {
    display: inline;
}
#peoples .person p.name {
    padding-left: 30px;
    margin-top:30px;
    color: #fe6921;
    display: inline;
}
#peoples .person p.name span {
    font-weight: bold;
}
#peoples .person p.position {
    display: inline;
    width: 200px;
    padding-left: 30px;
    font-size: 14px;
    color: #336f7f;
}
#peoples .person .others p{
    margin-top: 28px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size : 14px;
}
#peoples .person .arrow-left{
    position: absolute;
    top: 61px;
    left:223px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #c2cfd2;
}
