/* this file is the style file for subscription */


/* general */
ul,
li,
a {
    text-decoration: none;
    padding: 0;
    margin: 0;

}

h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* layout */
body {
    background:#f5f5f7;
    font-family: 'Roboto', sans-serif;
}

#bLine {
    background: #024d62; 
    height : 9px;
    left: -1%;
    position: absolute;
    display: block;
    width :101%;
}



/* content */
#content {
    margin: auto;
    width: 1020px;
    height: 586px;
    position: absolute;
    background: url(img/whole_main.png) no-repeat;
}
#header {
    position: absolute;
    left: 30px;
    height: 500px;
    width: 100px;
}

#header #nav {
    position: absolute;
    left: 25px;
    height: 311px;
    width: 117px;
    margin-top: 100px;
    text-align:center;
}
#header #nav p {
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
}
#header #nav p a {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#sub_form {
    position: absolute;
    left:435px;
    top:405px;
}

#sub_form #sBt,
#sub_form #emailText {
    display : inline;
}

#sub_form #emailText input {
    position: absolute;
    top: 24px;
    line-height:18px;
    height:45px;
    margin:0px;
    border:0 none;
    font-size:18px;
    background: rgba(107,149,161,0.8);
    width:260px;
    margin-right:13px;
    padding-right:20px;
    padding-left:20px;
    color:#fff;
}
div#notice {
    display:none;
    position: absolute;
    top: 24px;
    line-height:18px;
    height:45px;
    font-size:18px;
    background: rgba(107,149,161,0.8);
    width:260px;
    margin-right:13px;
    padding-right:20px;
    padding-left:20px;
    color:#fff;
}
div#invalid {
    display:none;
    position: absolute;
    top: -20px;
    line-height:18px;
    height:45px;
    font-size:18px;
    background: rgba(107,149,161,0.8);
    width:260px;
    margin-right:13px;
    padding-right:20px;
    padding-left:20px;
    color:#fff;
}


#notice p {
    margin:15px;
    margin-left:85px;
}
#invalid p {
    margin:15px;
    font-size: 13px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ffffff;
    text-align:right;
    font-size:18px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ffffff;
    text-align:right;
    font-size:18px;
}
#sub_form #sBt {
    position: absolute;
    margin-left: 
    top:0px;
    left:318px;
    margin-top:20px;
    background:none;
    text-decoration:none;
    border: 10px solid #024d61;
    height:55px;
    width:55px;
    cursor:pointer;
    font-size: 15px;
    color:#024d61;
    background:#fff;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s;
    -moz-transition: color .20s linear;
    transition:  color .20s;
}

#sub_form #sBt:hover {
    color: #FFA500;
}


